<meta charset="utf-8">
<meta name="viewport" content="width = device-width, height = device-height, initial-scale = 1">

<title>StockDiary</title>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
<style>
  .container {
    padding-top: 80px;
  }

  .or-seperator {
    margin: 20px 0 10px;
    text-align: center;
    border-top: 1px solid #ccc;
  }

  .or-seperator i {
    padding: 0 10px;
    background: #f7f7f7;
    position: relative;
    top: -11px;
    z-index: 1;
  }

  @font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 400;
    src: url('../public/NanumGothic-Regular.eot');
    src: local('NanumGothic'),
      url('../public/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'),
      url('../public/NanumGothic-Regular.woff2') format('woff2'),
      url('../public/NanumGothic-Regular.woff') format('woff'),
      url('../public/NanumGothic-Regular.ttf') format('truetype');
  }

  h1,
  p,
  a {
    font-family: 'NanumGothic';
  }
</style>