<!DOCTYPE html>
<html>

<head>
  <%-include ('./header.ejs')%>
</head>

<body>
  <div class="container">
    <div class="card text-center text-dark bg-light mx-auto" style="width: 30rem;">
    <img src="..\public\images\unnamed.gif" style="height:380px;" class="rounded card-img-top" alt="...">
    <div class="card-body">
      <h2 class="card-title"> StockDiary 로그인</h2>

      <p class="card-text">로그인 해주세요.<br> 계정이 없으시다면, <br><b>회원가입을 하시거나 소셜로그인을 해주세요.</b></p>

      <div class="d-grid gap-2 col-6 mx-auto">
        <a href="/login" class="btn btn-success">
          <span class="fa fa-user"></span>로그인
        </a>
        <a href="/signup" class="btn btn-success">
          <span class="fa fa-user"></span>회원가입
        </a>
	    	<div class="or-seperator"><i>or</i></div>
        <a href="/auth/facebook" class="btn btn-primary">
          <span class="fa fa-facebook"></span>
          페이스북으로 로그인
        </a>
        <a href="/auth/google" class="btn btn-danger">
          <span class="fa fa-google"></span>
          구글로 로그인
        </a>
      </div>
    </div>
  </div>
  <br>
</body>

</html>