<!doctype html>
<html lang="kr">

<head>
  <%-include ('../header.ejs')%>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.3/xlsx.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
<script>
//공통
// 참고 출처 : https://redstapler.co/sheetjs-tutorial-create-xlsx/
function s2ab(s) { 
    var buf = new ArrayBuffer(s.length); //convert s to arrayBuffer
    var view = new Uint8Array(buf);  //create uint8array as viewer
    for (var i=0; i<s.length; i++) view[i] = s.charCodeAt(i) & 0xFF; //convert to octet
    return buf;    
}
function exportExcel(){ 
    // step 1. workbook 생성
    var wb = XLSX.utils.book_new();

    // step 2. 시트 만들기 
    var newWorksheet = excelHandler.getWorksheet();
    
    // step 3. workbook에 새로만든 워크시트에 이름을 주고 붙인다.  
    XLSX.utils.book_append_sheet(wb, newWorksheet, excelHandler.getSheetName());

    // step 4. 엑셀 파일 만들기 
    var wbout = XLSX.write(wb, {bookType:'xlsx',  type: 'binary'});

    // step 5. 엑셀 파일 내보내기 
    saveAs(new Blob([s2ab(wbout)],{type:"application/octet-stream"}), excelHandler.getExcelFileName());
}
$(document).ready(function() { 
    $("#excelFileExport").click(function(){
        exportExcel();
    });
});
</script>
<script>
var excelHandler = {
        getExcelFileName : function(){
            return 'table-test.xlsx';
        },
        getSheetName : function(){
            return 'Table Test Sheet';
        },
        getExcelData : function(){
            return document.getElementById('tableData'); 
        },
        getWorksheet : function(){
            return XLSX.utils.table_to_sheet(this.getExcelData());
        }
}
</script>
</head>

<body>
  <%-include ('../sidebar.ejs')%>
  <div class="overflow-auto">
    <div class="table-responsive-sm">
      <form action="/diary/create" method="post">
      <table id = "tableData" class="table table-bordered" >
        <thead class ="table-light align-middle">
          <th scope="col">#</th>
          <th scope="col">종목명</th>
          <th scope="col">증권사</th>
          <th scope="col">매매 구분</th>
          <th scope="col">매수 일자</th>
          <th scope="col">매도 일자</th>
          <th scope="col">보유 기간</th>
          <th scope="col">손익</th>
          <th scope="col">수익률</th>
          <th scope="col">체결 단가</th>
          <th scope="col">체결 수량</th>
          <th scope="col">매매 비용</th>
          <th scope="col">총 체결 금액</th>
          <th scope="col">매매 이유</th>
        </thead>
        <tbody id = tb>
          <% let index = 1%>
          <tr>
            <td>
              <strong placeholder="#" id="row_num"><%=index++%></strong>
            </td>
            <td>
              <input type="text" class="form-control" placeholder="종목명" id="item" name = "item">
            </td>
            <td>
              <input type="text" class="form-control" placeholder="증권사" id="bank" name = "bank">
            </td>
            <td>
              <input type="text" class="form-control" placeholder="매매 구분" id="trade_category" name = "trade_category">
            </td>
            <td>
              <input type="text" class="form-control" placeholder="매수 일자" id="buy_date" name = "buy_date">
            </td>
            <td>
              <input type="text" class="form-control" placeholder="매도 일자" id="sell_date" name = "sell_date">
            </td>
            <td>
              <input type="text" class="form-control" placeholder="보유 기간" id="holding_period" name = "holding_period">
            </td>
            <td>
              <input type="text" class="form-control" placeholder="손익" id="profit_loss"  name = "profit_loss">
            </td>
            <td>
              <input type="text" class="form-control" placeholder="수익률" id="profit_rate" name = "profit_rate">
            </td>
            <td>
              <input type="text" class="form-control" placeholder="체결 단가" id="transaction_price" name = "transaction_price">
            </td>
            <td>
              <input type="text" class="form-control" placeholder="체결 수량" id="transaction_volume" name = "transaction_volume">
            </td>
            <td>
              <input type="text" class="form-control" placeholder="매매 비용" id="trading_cost" name = "trading_cost">
            </td>
            <td>
              <input type="text" class="form-control" placeholder="총 체결 금액" id="total_price" name = "total_price">
            </td>
            <td>
              <input type="text" class="form-control" placeholder="매매 이유" id="trading_reason" name = "trading_reason">
            </td>

            
          </tr>
        </tbody>   
        <tfoot>
          <td class = "gx-5" colspan="14" align="center">
           <div class="btn-group me-2" role="group" aria-label="First group">
             <button class="btn btn-success">+</button>
             <button type="submit" class="btn btn-danger" disabled>-</button>
           </div>
           <div class="btn-group" role="group">
             <button id="btnGroupDrop1" type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">저장하기</button>
             <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
               <li><button type="submit" class="dropdown-item">데이터베이스에 저장하기</button></li>  
              </form>
               <li><button type="button" id="excelFileExport" class="dropdown-item">엑셀로 내려받기</button> </li>
             </ul>
           </div>
       
          </td>
          
       </tfoot>
      </table>
    </div>
  </div>
</body>

</html>